@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --light: #F1F0E1;
  --dark: #101015;
}

@theme inline {
  --color-background: var(--dark);
  --color-foreground: var(--light);
}

body {
  background: var(--dark);
  color: var(--light);
}

.font-lexend {
  font-family: 'Lexend', sans-serif;
}

.font-lexend-deca {
  font-family: 'Lexend Deca', sans-serif;
}

.font-lexend-giga {
  font-family: 'Lexend Giga', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
